footer {
    width: 100%;
    height: 30vh;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

main {
    width: 100%;
    height: 100%;
}
